<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Web Suite" configfailurepolicy="continue" parallel="tests" thread-count="1">



    <test name="ZulaTest">
        <classes>
            <class name="tests.ZulaTest">
                <methods>
                    <include name="testMainPageLoadedCorrectly"/>
                    <include name="controlOffers"/>
                    <include name="controlGoldPrices"/>
                    <include name="gamePlayTest"/>
                </methods>
            </class>
        </classes>
    </test>


</suite>